*{
    font-family: 'Roboto';
}

.myItem{
    display: inline-block;
    font-family: 'Roboto Black';
    height:50px;
    width: 14.28%;
    box-sizing: border-box;
    border: 0.2px solid lightgray;
    background-color: lightcyan;

    text-align: center;
    font-size: 15pt;
    color: darkgray;
}



.selectedItem{
    background-color: lightseagreen;
}

.notThisMonthItem{
    background-color: lightpink;
}

.myDay{
    display: inline-block;
    font-family: 'Roboto Black';
    width: 14.28%;
    text-align: center;
    flex: 50%;

}

